ion-menu {
  --background: #fcfdfc;
  --border-color: #c8ebd9;
}

ion-item {
  --color: #005c4a;
  --padding-start: 1rem;
  margin-bottom: 5px;
  font-weight: 500;
  border-radius: 0 25px 25px 0;
  margin-right: 15px;
  transition: all 0.2s ease;
}

ion-item.selected {
  --background: rgba(0, 168, 120, 0.1);
  --color: #00a878;
  font-weight: 700;
  border-left: 4px solid #00a878;
}

ion-item ion-icon {
  color: #5ba38e;
}
ion-item.selected ion-icon {
  color: #00a878;
}