// --- HEADER ---
.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;

  .logo-left {
    height: 45px;
    width: auto;
    object-fit: contain;
  }

  .header-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    color: #000;
    flex-grow: 1;
    text-align: center;
  }

  .logo-right {
    height: 40px;
    width: auto;
    object-fit: contain;
  }
}

.header-divider {
  height: 1px;
  background-color: #000;
  margin: 0 15px;
}